<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.android.examscorer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="sk.android.examscorer.Utills.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="sk.android.examscorer.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.android.examscorer.Activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sk.android.examscorer.Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sk.android.examscorer.Activity.BranchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sk.android.examscorer.Activity.SemesterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sk.android.examscorer.Activity.SubjecstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sk.android.examscorer.Activity.PapersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sk.android.examscorer.Activity.FavouritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sk.android.examscorer.Activity.SearchedResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sk.android.examscorer.Activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="sk.android.examscorer.Activity.ReappearsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sk.android.examscorer.Activity.NotesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sk.android.examscorer.Activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sk.android.examscorer.Activity.NotesSubCategory"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sk.android.examscorer.Activity.ImagesActivity"
            android:screenOrientation="portrait" />

        <service android:name="sk.android.examscorer.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="sk.android.examscorer.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="sk.android.examscorer.Activity.ForgetPassword"
            android:screenOrientation="portrait"/>
    </application>

</manifest>